# IDEs
.vscode
.idea

# Misc
MY_NOTES.md
temp/*
etc/no-commit/*
etc/test/*

# Python venv
__pycache__
.venv/
.env
.env.*

# Distribution
**/*.egg-info
build/
dist/
archive/

# Dev
src/eurelis_llmatoolkit/*_ko/
**/*_ko
src/*_dev.ipynb
*.log
